    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Presenting: FreshWave</h2>
                <p> it’s similar to a "reverse" microwave, a device that instead of warming items quickly, it cools them down!</p>
                <img class="about-img" src="img/intro-bg.jpg" alt="prototype"> </br>
                <p>FreshWave uses water with Etilenoglicol, an alcohol which gives water the property of not freezing while under -20 degrees Celsius. When an item goes into contact with the liquid, through a resistant, thermally conductive plastic protection, it gets cold. FAST</p>
                <img class="about-img" src="img/intro-bg2.jpg" alt="prototype"> </br>
             <!-- <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p> -->            
            </div>
        </div>
    </section>