    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="intro-img" src="img/freshwave.png" alt={{ site.title }}>
                        <p class="intro-text">Wouldn't it be nice if you could <span class="cool">cool down</span> a product just has fast as you can heat it in a microwave?<br>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
